<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- AccessKey，必填-->
    <add key="Log.AccessKey" value="" />
    <!-- SecretKey，必填-->
    <add key="Log.SecretKey" value="" />
    <!-- 阿里云日志服务器，必填-->
    <add key="Log.AliEndpoint" value="" />
    <!-- 运行环境，非必填，可取值（Dev/QA/UAT/Prod）,默认Dev-->
    <add key="Log.Environment" value="Dev" />
    <!-- 阿里云日志项目，非必填，默认log_project-->
    <add key="Log.Project" value="log_project" />
    <!-- 记录日志级别，非必填，可取值（Debug/Info/Warn/Error/Fatal），默认Debug-->
    <add key="Log.AppLogLevel" value="Debug" />
    <!-- 日志平台，可取值（Aliyun），默认Aliyun-->
    <add key="Log.Platform" value="Aliyun" />
    <!-- 最大处理数，非必填，默认100000-->
    <add key="Log.MaxHandleNum" value="100000" />
    <!-- 最大工作者线程，非必填，默认5-->
    <add key="Log.MaxWorkerNum" value="5" />
    <!-- 每次最大上传数，非必填，默认200-->
    <add key="Log.MaxUploadNumOnce" value="200" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>